@import 'tailwindcss';

@theme {
    --color-black: #292524;
    --color-gray: #d6d3d1;
    --color-white: #fafaf9;
    --color-red: #ff6167;
    --color-green: #35bd79;

    --animate-pulse: pulse 2s ease-in-out infinite;

    --breakpoint-xs: 30rem;
    --breakpoint-2xs: 25rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    max-width: 100vw;
    min-width: 20rem;
    min-height: 100vh;
}
