@import 'tailwindcss';

@theme {
    --color-black: #292524;
    --color-white: #fafaf9;
    --color-red: #FF6167;
    --text-green: #ACFFB1;

    --animate-pulse: pulse 2s ease-in-out infinite;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
